$color-primary: #00b2e3;
.safety-device-layout {
  font-size: 24px;

  // TABLET LAYOUT SCREEN
  .screen {
    position: relative;

    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    .ant-divider {
      margin: 10px 0 0 0;
      padding: 0;
      height: 1px;
      width: 100%;
      border: none;
      background-image: linear-gradient(to right, rgba(#fff, 0), rgba(#fff, 0.8), rgba(#fff, 0));
    }
    header {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 30px;
      h1 {
        font-size: 64px;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 1;
      }

      p {
        color: #fff;
        margin-top: 10px;
        text-align: center;
        font-size: 32px;
        padding: 0 20px;
      }
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    footer {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

    // IDLE SCREEN LAYOUT
  .screen.idle-screen {
    background: #000;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../media/oc.png');
      background-position: center center;
      background-size: 80% auto;
      background-repeat: no-repeat;
      opacity: 0.25;
    }
    main {
      text-align: center;
      z-index: 1;
      img {
        height: 100px;
      }
    }
  }

    // START SCREEN LAYOUT
    .screen.start-screen {
      background: $color-primary;
  
      header {
        h1 {
          color: #fff;
          font-weight: bold;
        }
        p {
          margin-top: 0;
        }
      }
  
      main {
        text-align: center;
        z-index: 1;
        img {
          height: 100px;
        }
      }
    }

      // COMPLETE SCREEN LAYOUT
  .screen.complete-screen {
    background: #50bc5b;
    &.failed {
      background: #a82800;
    }
    header {
      img {
        height: 50px;
        margin-top: -30px;
      }
      h1 {
        color: #fff;
        font-weight: bold;
        font-size: 80px !important;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      p {
        padding: 0;
        margin: 0;
      }
    }

    main {
      text-align: center;
      z-index: 1;

      .circle-icon {
        width: 450px;
        height: 450px;
      }
    }

    footer {
      padding: 30px;
      color: #fff;
      text-align: center;
      font-size: 35px !important;
      line-height: 1.4;
    }
  }

    //PAUSED SCREEN LAYOUT
    .screen.pause-screen {
      background: #b1b1b1;
  
      header {
        h1 {
          color: #fff;
          font-weight: bold;
          font-size: 70px !important;
          margin-top: -20px;
        }
      }
  
      main {
        text-align: center;
        z-index: 1;
        img {
          height: 100%;
        }
        .circle-progress {
          margin-top: -40px;
        }
      } 
  
      footer {
        padding: 20px;
        .ant-btn {
          height: 100px;
          border: none;
          font-size: 28px;
          line-height: 1.2;
        }
      }
  
      &.robot-screen {
        header {
          p {
            padding-left: 30px;
            padding-right: 30px;
          }
        }
      }
    }
}